*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
/* El contenedor principal debe ocupar todo el espacio disponible */
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer {
  position: relative;
  z-index: 1;
}
/* Footer siempre al final */
.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Empuja el footer hacia abajo */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 1rem;
  color: #6450F5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 0.5rem 0;
}

.footer-section ul li a {
  color: #C86BF5;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #D2F567;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #ccc;
  text-align: center;
}

.footer-links {
  margin-top: 1rem;
}

.footer-link {
  color: #C86BF5;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #D2F567;
}